[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = ?????????
[access "refs/*"]
	owner = group user/Andrew (yanghusf)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Andrew (yanghusf)
	label-Verified = -1..+1 group user/Andrew (yanghusf)
	push = group user/Andrew (yanghusf)
	read = group user/Andrew (yanghusf)
	rebase = group user/Andrew (yanghusf)
	removeReviewer = group user/Andrew (yanghusf)
	submit = group user/Andrew (yanghusf)
[access "refs/heads/*"]
	create = group user/Andrew (yanghusf)
	push = +force group user/Andrew (yanghusf)
	pushMerge = group user/Andrew (yanghusf)
	read = group user/Andrew (yanghusf)
[access "refs/tags/*"]
	push = group user/Andrew (yanghusf)
	push = +force group user/Andrew (yanghusf)
